/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/c-tap-harness-*
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/docs/runtests.1
/runtests
/tests/env/env.t
/tests/libtap/c-bail
/tests/libtap/c-basic
/tests/libtap/c-diag
/tests/libtap/c-extra
/tests/libtap/c-extra-one
/tests/libtap/c-file
/tests/libtap/c-lazy
/tests/libtap/c-missing
/tests/libtap/c-missing-one
/tests/libtap/c-skip
/tests/libtap/c-skip-reason
/tests/libtap/c-success
/tests/libtap/c-success-one
/tests/libtap/c-sysbail
/tests/libtap/c-tmpdir
/tests/search.t
.deps/
.dirstamp
*.3
*.a
*.o
