/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/c-tap-harness-*
/config.cache
/config.log
/config.status
/configure
/runtests
/runtests.1
/tests/env/env.t
/tests/libtap/c-bail
/tests/libtap/c-basic
/tests/libtap/c-skip
/tests/libtap/c-skip-reason
/tests/libtap/c-sysbail
/tests/search.t
.deps/
.dirstamp
*.a
*.o
